<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">


  <div class="card bg-light">
    <div class="card-hader">
      <h3 align="center"><%= t "users.change_psw" %></h3>
    </div>
    <article class="card-body mx-auto" style="max-width: 400px;">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <% render "layouts/alerts"%>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <% f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control input-lg", placeholder: t("users.username"), :readonly => true %>
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control ",placeholder:t("users.email"), :readonly => true %>
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <% f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control input-lg", placeholder:t("users.current_psw") %>
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <% f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control input-lg", placeholder:t("users.psw_size") %>
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control input-lg", placeholder:t("users.psw_confirm") %>
      </div> <!-- form-group// -->                                      
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> <%= t "users.update" %>  </button>
      </div> <!-- form-group// -->                                                                   
      <% end %>
    </article>
  </div>
</div>
<% render "devise/shared/links" %>

