<h1>Search results:</h1>

<% if @search %>
<ol>
	<% @search.each_hit_with_result do |hit, post| %>
	<div class="card w-75">
		<div class="card-body">
			<h5 class="card-title"><%= post.title %>
				<% if current_user && current_user.admin || current_user == post.user %>
				<%= link_to 'Delete', 
				post_path(post), class:"badge badge-danger pull-right",	
				method: :delete, 
				data: { confirm: 'Are you sure?' } %>
				<% end %></h5>
				<p class="card-text"><%= post.description %></p>
				<a href="http://localhost:3000/posts/<%= post.id %>" class="btn btn-info">Show more...</a>
			</div>
			<div class="card-footer">
				Created by <%= link_to post.user.username, post.user  %>. For specialization <%= post.spec %>
				<div class="pull-right">
					<% post.tag_list.each do |tag|%>
					<a class="badge badge-info"><%= tag %></a>
					<% end %>
				</div>
			</div>
		</div>
		
		<% end-%>
	</ol>   
	<% else -%>
	<h3>No results</h3>
	<% end %>