
<%= form_for_filterrific @filterrific do |f| %>
<div class="row">
  <div class="col-md-3">
    Search
    <%= f.text_field :search_query,   class: 'filterrific-periodically-observed form-control' %>
  </div>
  <div class="col-md-3">
    Title
    <%= f.text_field :with_title, class: 'filterrific-periodically-observed form-control' %>
  </div>
  <div class="col-md-3">
    Registered after
    <%= f.text_field(:with_created_at_gte, class: 'filterrific-periodically-observed form-control') %>
  </div>
  <div>
    <%= link_to 'Reset filters', reset_filterrific_url %>
    <%= f.submit 'Filter' %>
  </div>
</div>

<br>
<% end %>
<%= render partial: 'users/posts_table', locals: { posts: @posts }%>