<div id="filterrific_results">

<table class="table table-striped table-bordered table-list">
  <thead>
    <tr>
     <th><%= filterrific_sorting_link(@filterrific, :title) %></th>
     <th><%= filterrific_sorting_link(@filterrific, :spec) %></th>
     <th>Tags</th>
     <th><%= filterrific_sorting_link(@filterrific, :created_at) %></th>
     <th>Actions</th>
   </tr>
 </thead>

 <tbody id="myTable">
  <% @user.posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.spec %></td>
    <td><% post.tag_list.each do |tag| %>
      <a class="badge badge-info"><%= tag %></a>
      <% end %>
    </td>
    <td><% our_time = post.created_at + 3.hours%><%= our_time.to_s.split('UTC')[0] %> </td>
    <td><%= link_to "Show", post_path(post) %>
     <% if current_user && current_user.admin || current_user == post.user %>
     / <%= link_to 'Delete', post_path(post), method: :delete,
     data: { confirm: 'Are you sure?' } %>
     <% end %></td>
   </tr>
   <% end %>
 </tbody>
</table>
</div>
<%= will_paginate posts %>
<br>
