<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
rel='stylesheet' type='text/css'>

<script src="https://code.jquery.com/jquery-2.2.4.js">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous">

</script>

<%= form_tag edit_multiple_users_path, method: :post do %>
<div class="container">

 <p align = "center" class="alert" readonly><%= alert %></p>
 <p align = "center"  class="notice" readonly><%= notice %></p>
 <div class="row">
  <div class="col-md-11 col-md-offset-1">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        <div class="row">

          <div class="col col-xs-6 text-right">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <%= submit_tag t("users.lock"), class: "btn btn-warning" %>
              <%= submit_tag t("users.delete"), class: "btn btn-danger" %>
              <%= submit_tag t("users.unlock"), class: "btn btn-success" %>
              <%= submit_tag t("users.add_admin"), class: "btn btn-secondary" %>
              <%= submit_tag t("users.degrade"), class: "btn btn-dark" %>
            </div>
          </div>

        </div>
      </div>


      <div class="panel-body table-responsive">
        <table class="table table-striped table-bordered table-list">

          <thead>
            <tr>
              <th align="center"><%= check_box_tag('check_all', 'check_all', false, :onClick => "checkAll(this);") %></th>
              <th><%= t "users.email" %></th>
              <th><%= t "users.username" %></th>
              <th><%= t "users.account_type" %></th>
              <th><%= t "users.status" %></th>
              <th><%= t "posts.created_at" %></th>
            </tr>
          </thead>

          <tbody id="myTable">
            <% User.all.each do |user| %>
            <tr>
              <td align="center"><%= check_box_tag "user_ids[]", user.id %></td>
              <td><%= link_to user.email, user %></td>
              <td><%= user.username %></td>
              <td><% if user.admin %>
                <a class="badge badge-warning"><%= t "users.admin" %></a>
                <% else %>
                <p><%= t "users.user" %>
                </p>
                <% end %>
              </td>
              <td><%= user.access_locked? ? t("users.locked") : t("users.unlocked") %></td>
              <td><%= user.created_at.strftime("%k:%M %d %b %Y") %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

</div>
<% end %>