<div class = "row">
  <div class = "col-sm-9 blog-main">
    <h2><%= t "pages.most_rated" %></h2>
    <% @posts.each do |post| %> 
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %>
          <% if current_user && current_user.admin || current_user == post.user %>
          <%= link_to t('posts.delete'), 
          post_path(post), class:"badge badge-danger pull-right", method: :delete, data: { confirm: t('posts.conirm') } %>
          <% end %>
        </h5>
        <p class="card-text"><%= post.description %>
          <a class="badge badge-warning pull-right"><%= t "posts.average" %><%= post.aver_rate %></a>
          <div class="average-rate-rating pull-right" data-score=<%= post.aver_rate %>>          </div>
        </p>
        <%= button_to t('posts.show_more'), post, method: :get, class:"btn btn-info" %>
      </div>
      <div class="card-footer">
        <%= t "posts.created_by"%> <%= link_to post.user.username, post.user  %>. <%= t "posts.for_spec" %>
        <a class="badge badge-warning"><%= post.spec%></a>
        <div class="pull-right">
          <% post.tag_list.each do |tag|%>
          <a class="badge badge-info"><%= tag %></a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <br>
    <hr>
     <h2><%= t "pages.title" %></h2>
    <% @posts_updated.each do |post| %> 
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %>
          <% if current_user && current_user.admin || current_user == post.user %>
          <%= link_to t('posts.delete'), 
          post_path(post), class:"badge badge-danger pull-right", method: :delete, data: { confirm: t('posts.conirm') } %>
          <% end %>
        </h5>
        <p class="card-text"><%= post.description %>
          <a class="badge badge-warning pull-right">average rating <%= post.aver_rate %></a>
          <div class="average-rate-rating pull-right" data-score=<%= post.aver_rate %>>          </div>
        </p>
        <%= button_to t('posts.show_more'), post, method: :get, class:"btn btn-info" %>
      </div>
      <div class="card-footer">
        <%= t "posts.created_by"%> <%= link_to post.user.username, post.user  %>. <%= t "posts.for_spec" %>
        <a class="badge badge-warning"><%= post.spec%></a>
        <div class="pull-right">
          <% post.tag_list.each do |tag|%>
          <a class="badge badge-info"><%= tag %></a>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class = "col-sm-3 blog-sidebar">
    <%= render 'layouts/right'%>
  </div>
</div>
<br>

<script>
  $('.average-rate-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'rate[rating]'
  });
</script>
