<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
  $(function() {
    var dataset_string = document.getElementById('tags').dataset.autocomplete;
    var available_tags = dataset_string.slice(2, dataset_string.length - 2).split('","')

    function split(val) {
      return val.split(/ \s*/);
    }

    function extractLast(term) {
      return split(term).pop();
    }

    $("#tags")
    .autocomplete({
      minLength: 0,
      source: function( request, response ) {
        response( $.ui.autocomplete.filter(
          available_tags, extractLast(request.term)));
      },
      focus: function() {
        return false;
      },
      select: function(event, ui) {
        var terms = split(this.value);
        terms.pop();

        terms.push( ui.item.value );
        terms.push( "" );
        this.value = terms.join( " " );
        return false;
      }
    });
  });

</script>

<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> <%= t "posts.eror" %></h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card bg-light">
  <div class="col-md-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-primary">
        <div class="card-body">
          <div class="row">

            <div class="form-group col-md-12">
              <%= form.label t("posts.title") %>
              <%= form.text_field :title, class:"form-control", placeholder:t("posts.title") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"> 
                <%= form.label t("posts.spec")%>
                <%= form.number_field :spec, class:"form-control", placeholder:t("posts.spec") %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label t("posts.tags") %>
                <%= form.text_field :tag_list, placeholder: t("posts.tags"), class: "form-control", id: "tags", data: { autocomplete: ActsAsTaggableOn::Tag.pluck(:name) } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <%= form.label t("posts.description") %>
              <%= form.text_area :description, class:"form-control", placeholder:t("posts.description_short") %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <%= form.label t("posts.body") %>
              <%= form.hidden_field :body, placeholder:t("posts.body") %>
              <trix-editor input="post_body"></trix-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions pull-right">
    <%= form.submit t("posts.complete"), class:"btn btn-primary pull-right" %>
  </div>
</div>

<% end %>
<br>
