
<div class = "row">
  <div class = "col-sm-9 blog-main">
    <h2 align="center"><strong><%= @post.title %></strong>
      <% if current_user && (current_user.admin || current_user == @post.user)%>
      <%= link_to t('posts.delete'), 
      post_path(@post), class:"btn btn-danger pull-right", method: :delete, data: { confirm: t('posts.conirm') } %>
      <%= link_to t('pages.edit'), edit_post_path(@post), class: "btn btn-success pull-right" %>
      <% end %>
    </h2>
    <br>
    <strong><%= t "posts.description" %>:</strong>
    <h7><%= @post.description %>... 
      <br>
      <small> <%= t "posts.created_by" %> <%=link_to @post.user.username, @post.user, method: :get %>. <%= t "posts.for_spec" %></small><a class="badge badge-warning"><%= @post.spec%></a>
    </h7> 

    <% if @checker %>
    <div class="new-review-form">
      <%= simple_form_for([@post, @post.rates.build]) do |f| %>
      <div id="rating-form">
        <label>Rating</label>
      </div>
      <%= f.button :submit, "Rate" %>
      <% end %>
    </div>
    <% else %>
    <br>
    <a class="badge badge-warning"><%= t "posts.average" %> <%=@post.aver_rate %></a>
    
    <div class="average-rate-rating" data-score=<%= @post.aver_rate %>></div>
    <span class="number-of-reviews"><%= t "posts.based" %><%= @post.rates.count %> <%= t "posts.reviews" %></span>

    <% end %>

    
    <hr>
    <p>
      <%= @post.body.html_safe %>
      <br>
      <% @post.tag_list.each do |tag|%>
      <span class="badge badge-pill badge-info"><%= tag %></span>
      <% end %>
      <hr>
      <strong> <%= t "posts.created_at" %></strong>: <%= @post.created_at.strftime("%H:%M %d.%b %Y") %>
    </p>
    <p>
      <strong><%= t "posts.updated_at" %> </strong> : <%= @post.updated_at.strftime("%H:%M %d.%b %Y") %>
    </p>
    <% if current_user %>
    <%= form_with class:"form-inline my-2  my-lg-0", model:[@post, @comment] do |f| %>
    <%= f.text_field :body, class:"form-control mr-sm-2" %>
    <%= f.submit t("posts.comment"), class:"btn btn-outline-success my-2 my-sm-0"%>
    <% end %>


    <% else %>
    <p> <%= t "users.u_need" %> <%= link_to t("posts.login"), new_user_session_path%> <%= t "users.can_comment" %> </p>
    <% end %>

    <div class="container">
      <div id="comment_pane" >
        <div class="row">
          <div class="col-md-8">
            <div class="comments-list">
              <% @comments.each do |comment|%>
              <div class="media">
                <div class="media-body">
                  <%= render "comments/comment", comment: comment%>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-sm-3 blog-sidebar">
    <%= render 'layouts/right'%>
  </div>
</div>

<script>
  $('.rate-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>


<script>
  $('.average-rate-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'rate[rating]'
  });
</script>

<script>
  $('.rate-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>